body {
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.nav{
    margin: 0;
    display: flex;
    
}
li{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20;
}
.logo{
    height: 120px;
}
a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: orange;
}

.hero {
    text-align: center;
    padding: 30px 10px;
}

.cta-btn {
    margin-top: 20px;
    display: inline-block;
    background: #DFBE3A;
    color: #000;
    padding: 19px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    font-size: 14px;
    
}
.cta-btn:hover{
    color: white;
    background-color: #f1c824;
}
.features {
    background: #DFBE3A;
    text-align: center;
    padding: 30px 10px;
}

.features-grid {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.features-grid div {
    width: 30%;
}
.trucks {
    background: #1c1c2d;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.trucks h2 {
    color: #DFBE3A;
}

.truck-description h3 {
    color: #DFBE3A;
}

.truck-description p {
    color: #ddd;
}
